<main role="main" class="flex-shrink-0">
    <div class="container green-4 pt-5">

        <div class="up-main-info text-center">
            <img class="rounded-circle mx-auto d-block mb-3" src="{{foundUser.pictureURL}}" alt="64x64" height="200" width="200">
        </div>

        <div class="row pb-5">

            <div class="col-sm-12 text-center">
                <h2 class="up-header"> {{foundUser.firstName}} {{foundUser.lastName}}</h2>
            </div>

            <div class="col-6">
                <div class="el-tablo centered">
                    <div class="value">{{foundUser.bets.length}}</div>
                    <div class="label">races</div>
                </div>
            </div>

            <div class="col-6">
                <div class="el-tablo centered">
                    <div class="value">${{foundUser.ballance}}</div>
                    <div class="label">CASH</div>
                </div>
            </div>

            <div class="col-12 mt-5">
                <p class="text-center"><button type="submit" class="btn btn btn-sm btn-warning ">Fund Manager</button></p>
            </div>

        </div>


    </div>
</main>